@import "tailwindcss";

@layer base {
  section {
    @apply bg-linear-to-b from-slate-800 to-slate-600 text-white min-h-screen flex items-center justify-center;
  }

  h1 {
    @apply text-5xl font-bold;
  }

  body {
    @apply font-poppins;
  }
}

@font-face {
  font-family: "Poppins";
  src: url(/public/fonts/Poppins-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-poppins: "Poppins", sans-serif;
}
